<div class="modal fade" id="modelId" tabindex="-1" role="dialog" data-toggle="modal" aria-labelledby="modelTitleId" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red">Xác nhận xóa </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <p> Nhân viên : {{employee.employeeName}}</p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelDelete()">Hủy</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="delete()">Xóa</button>
      </div>
    </div>
  </div>
</div>
