<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: sticky" >
  <div class="container-fluid">
<!--    <img src="/FURAMA.png" style="width: 5%">-->
    <h4>Đồng Văn Nhật</h4>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark " style="position: sticky;top: 0px;z-index: 2">
  <div class="container-fluid">


    <li class="nav-item">
      <a class="navbar-brand" href="/" style="padding-left: 500px">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand" href="/customer/list">Customer</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/service/list">Service</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['/employee/list']" >Employee</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/contract/list">Contract</a>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand" href="#">Navbar</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row" >
  <div class="col-2" style="background-color: gray; height: 1000px">
    <div class="row">
      <h1>Item One</h1>
    </div>
    <div class="row">
      <h1>Item Two</h1>
    </div>
    <div class="row"><h1>Item Three</h1></div>
  </div>
  <div class="col-10" style="background-repeat: no-repeat;background-size: cover">
    <div class="row">
      <div class="col-12 m-3" >
        <button type="button" class="btn btn-primary" [routerLink]="['/customer/create']">Create</button>
        <nav class="navbar">
               <input class="form-control"type="text" name="customerName" [(ngModel)]="customerName" (ngModelChange)="Search()" placeholder="Search Customer">
        </nav>
        <app-detail-customer [customerChild]="customerParent"></app-detail-customer>
          <table class="table table-success table-striped " style="width: 100%;margin-top: 80px;display: inline-block;overflow-x: scroll;right: 12px">
            <thead>
            <tr style="text-align: center">
              <th>STT</th>
              <th (click)="sort('id')">ID </th>
              <th (click)="sort('customerName')">Name </th>
              <th>Code Customer</th>
              <th>Birthday</th>
              <th>Card</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>Customer Type</th>
              <th>Update</th>
              <th>Delete</th>
              <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of customers | orderBy: key: reverse | paginate:{itemsPerPage:2,currentPage:p};let i = index" style="text-align: center">
              <td>{{i+1}}</td>
              <td>{{item.id}}</td>
              <td>{{item.customerName}}</td>
              <td>{{item.customerCode}}</td>
              <td>{{item.customerBirthday}}</td>
              <td>{{item.customerCar}}</td>
              <td>{{item.customerPhone}}</td>
              <td>{{item.customerEmail}}</td>
              <td>{{item.customerAddress}}</td>
              <td>{{item.customerType.name}}</td>
              <td><button type="button" class="btn btn-warning" [routerLink]="['/customer/update',item.id]">Update</button></td>
              <td><a [routerLink]="['/customer/list/delete',item.id]" style="color: white" class="btn bg-danger" role="button" data-toggle="modal" data-target="#modelId">Delete </a></td>
              <td><button type="button" class="btn btn-success" (click)="showDetail(item)">View</button></td>
            </tr>
            </tbody>
          </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" style="height: 100px;background-color: black;font-size: 50px;text-align: center">
    <span>Facebook |</span>
    <span style="margin-left: 20px">Zalo |</span>
    <span style="margin-left: 20px">Google |</span>
    <h5>Hà Nội ngày 02-09-2021</h5>
  </div>
</div>

</body>
</html>

<router-outlet></router-outlet>
